
@using System.Data
@using System.Diagnostics
@using begrafenisplanner.Models;

@{
    ViewData["Title"] = "Graves";
    DataTable dt_graves = ViewBag.Graves;
}

<div align="right"><a href="@Url.Action("WriteGrave", "Home")" class="btn btn-primary">Add Grave</a></div>

<h5>Graves :</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Grave ID</th>
            <th scope="col">Grave Reference</th>
            <th scope="col">Cemetery</th>
            <th scope="col">Location</th>
            <th scope="col">Position</th>
            <th scope="col">Grave Type</th>
            <th scope="col">Status</th>
            <th scope="col">Acquisition</th>
            <th scope="col">Description</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Modified</th>
        </tr>
    </thead>

    <tbody>
    @{
        try
        {
            foreach (DataRow row in dt_graves.Rows)
            {
            <tr>
                <td>@row["id"].ToString()</td>
                <td>@row["graveReference"].ToString()</td>
                <td>@row["cemetery"].ToString()</td>
                <td>@row["location"].ToString()</td>
                <td>@row["position"].ToString()</td>
                <td>@row["graveType"].ToString()</td>
                <td>@row["status"].ToString()</td>
                <td>@row["acquisition"].ToString()</td>
                <td>@row["description"].ToString()</td>
                <td>@row["dateCreated"].ToString()</td>
                <td>@row["dateModified"].ToString()</td>
            </tr>
            }
        }
        catch (NullReferenceException e)
        {
            Debug.WriteLine("\nFAILED BUILDING GRAVE COVER TABLE WITH ERROR:\n" + e + "\n");
            throw;
        }
    }
    </tbody>
</table>